pyyaml
# The remaining requirements are from Ramble
pytest
flake8
google-cloud-storage # for gcs fetch test
google-api-core # for gcs fetch error .exceptions
coverage
pytest-cov
pre-commit
graphlib-backport;python_version<"3.9"
urllib3==1.26.19;python_version<="3.6"
protobuf;python_version>"3.6"
protobuf==3.19.5;python_version<="3.6"
pyarrow==14.0.1;python_version<="3.6"
google-cloud-bigquery
tqdm
deprecation
deepdiff
xmltodict
