# Copyright 2023 Lawrence Livermore National Security, LLC and other
# Benchpark Project Developers. See the top-level COPYRIGHT file for details.
#
# SPDX-License-Identifier: Apache-2.0

packages:
  tar:
    externals:
    - spec: tar@1.26
      prefix: /usr
    buildable: false
  cmake:
    externals:
    - spec: cmake@3.29.2
      prefix: /usr/tce/packages/cmake/cmake-3.29.2
    buildable: false
  gmake:
    externals:
    - spec: gmake@4.2.1
      prefix: /usr/tcetmp/packages/gmake/gmake-4.2.1
    buildable: false
  automake:
    externals:
    - spec: automake@1.13.4
      prefix: /usr
  autoconf:
    externals:
    - spec: autoconf@2.69
      prefix: /usr
  curand:
    externals:
    - spec: curand@10.1.243
      prefix: /usr/tce/packages/cuda/cuda-10.1.243
    - spec: curand@11.8.0
      prefix: /usr/tce/packages/cuda/cuda-11.8.0
    buildable: false
  cusparse:
    externals:
    - spec: cusparse@10.1.243
      prefix: /usr/tce/packages/cuda/cuda-10.1.243
    - spec: cusparse@11.8.0
      prefix: /usr/tce/packages/cuda/cuda-11.8.0
    buildable: false
  cub:
    buildable: false
    externals:
    - spec: cub@11.8.0
      prefix: /usr/tce/packages/cuda/cuda-11.8.0/
  cuda:
    externals:
    - spec: cuda@10.1.243
      prefix: /usr/tce/packages/cuda/cuda-10.1.243
    - spec: cuda@11.8.0
      prefix: /usr/tce/packages/cuda/cuda-11.8.0
    buildable: false
  blas:
    externals:
    - spec: cublas@10.1.243
      prefix: /usr/tce/packages/cuda/cuda-10.1.243
    - spec: cublas@11.8.0
      prefix: /usr/tce/packages/cuda/cuda-11.8.0
    buildable: false
  fftw:
    externals:
    - spec: fftw@3.3.10
      prefix: /usr/tcetmp/packages/fftw/fftw-3.3.10-xl-2023.06.28
    buildable: false
  lapack:
    externals:
    - spec: lapack-xl@3.9.0
      prefix: /usr/tcetmp/packages/lapack/lapack-3.9.0-xl-2020.03.18
    buildable: false
  python:
    externals:
    - spec: python@3.8.2
      prefix: /usr/tce/packages/python/python-3.8.2
      buildable: false
  mpi:
    externals:
    - spec: spectrum-mpi@2023.06.28-clang-ibm-16.0.6-cuda-11.8.0-gcc-11.2.1
      prefix: /usr/tce/packages/spectrum-mpi/spectrum-mpi-rolling-release-clang-ibm-16.0.6-cuda-11.8.0-gcc-11.2.1
      extra_attributes:
        extra_link_flags: "-L/usr/tce/packages/spectrum-mpi/spectrum-mpi-rolling-release-clang-ibm-16.0.6-cuda-11.8.0-gcc-11.2.1 -lmpiprofilesupport -lmpi_ibm_usempi -lmpi_ibm_mpifh -lmpi_ibm"
        ldflags: "-lmpiprofilesupport -lmpi_ibm_usempi -lmpi_ibm_mpifh -lmpi_ibm"
    - spec: spectrum-mpi@2023.06.28-cuda-11.8.0-gcc-11.2.1
      prefix: /usr/tce/packages/spectrum-mpi/spectrum-mpi-rolling-release-xl-2023.06.28-cuda-11.8.0-gcc-11.2.1
      extra_attributes:
        ldflags: "-lmpiprofilesupport -lmpi_ibm_usempi -lmpi_ibm_mpifh -lmpi_ibm"
    - spec: spectrum-mpi@2022.08.19-cuda-11.8.0
      prefix: /usr/tce/packages/spectrum-mpi/spectrum-mpi-rolling-release-xl-2022.08.19-cuda-11.8.0
      extra_attributes:
        ldflags: "-lmpiprofilesupport -lmpi_ibm_usempi -lmpi_ibm_mpifh -lmpi_ibm"
    - spec: spectrum-mpi@2022.08.19-cuda-10.1.243
      prefix: /usr/tce/packages/spectrum-mpi/spectrum-mpi-rolling-release-xl-2022.08.19-cuda-10.1.243
      extra_attributes:
        ldflags: "-lmpiprofilesupport -lmpi_ibm_usempi -lmpi_ibm_mpifh -lmpi_ibm"
    - spec: spectrum-mpi@2022.08.19-clang16.0.6-cuda-11.8.0
      prefix: /usr/tce/packages/spectrum-mpi/spectrum-mpi-rolling-release-clang-16.0.6-cuda-11.8.0-gcc-11.2.1
      extra_attributes:
        ldflags: "-lmpiprofilesupport -lmpi_ibm_usempi -lmpi_ibm_mpifh -lmpi_ibm"
    - spec: spectrum-mpi@2022.08.19-gcc-8.3.1
      prefix: /usr/tce/packages/spectrum-mpi/spectrum-mpi-rolling-release-gcc-8.3.1
    buildable: false
