# Copyright 2023 Lawrence Livermore National Security, LLC and other
# Benchpark Project Developers. See the top-level COPYRIGHT file for details.
#
# SPDX-License-Identifier: Apache-2.0

variables:
  modifier_package_name: 'caliper-mpi'
  modifier_spack_variant: '+caliper'

modifiers:
  - name: caliper-mpi
    mode: mpi

software:
  packages:
    caliper-mpi:
      pkg_spec: caliper@master+adiak+mpi~libunwind~libdw~papi
