# Copyright 2023 Lawrence Livermore National Security, LLC and other
# Benchpark Project Developers. See the top-level COPYRIGHT file for details.
#
# SPDX-License-Identifier: Apache-2.0

variables:
  gtl_flag: ''  # to be overwritten by tests that need GTL
  batch_time: '02:00'
  mpi_command: '/usr/tcetmp/bin/lrun -n {n_ranks} -T {processes_per_node} {gtl_flag}'
  batch_submit: 'bsub -q pdebug {execute_experiment}'
  batch_nodes: '#BSUB -nnodes {n_nodes}'
  batch_ranks: ''
  batch_timeout: '#BSUB -W {batch_time}'
  default_cuda_version: '11.8.0'
  cuda_arch: '70'
