name: Build & Deploy docs site to GitHub Pages
on:
  workflow_call:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@9bb56186c3b09b4f86b1c65136769dd318469633

    - name: Setup Python
      uses: actions/setup-python@0a5c61591373683505ea898e09a3ea4f39ef2b9c
      with:
        python-version: '3.11'
        cache: 'pip'
        cache-dependency-path: '.github/workflows/requirements/docs.txt'

    - name: Setup GitHub Pages
      id: pages
      uses: actions/configure-pages@1f0c5cde4bc74cd7e1254d0cb4de8d49e9068c7d

    - name: Install Sphinx and Theme via Pip
      run: |
        pip install -r .github/workflows/requirements/docs.txt
        # create a dummy workspace to get a working ramble
        bin/benchpark setup saxpy/openmp nosite-x86_64 /tmp/workspace
        # this is gross and we should better setup ramble for people or make it a Spack package
        pip install -r /tmp/workspace/ramble/requirements.txt

    - name: Build with sphinx
      run: |
        cd docs
        make html WORKSPACE_PATH=/tmp/workspace

    - name: Check for Typos using Codespell
      run: |
        codespell

    - name: Upload artifact
      uses: actions/upload-pages-artifact@56afc609e74202658d3ffba0e8f6dda462b719fa
      if: github.ref == 'refs/heads/develop'
      with:
        path: ./docs/_build/html

  deploy:
    needs: build
    if: github.ref == 'refs/heads/develop'

    permissions:
      pages: write
      id-token: write

    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}

    runs-on: ubuntu-latest
    steps:
      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@d6db90164ac5ed86f2b6aed7e0febac5b3c0c03e
