name: Build & Deploy docs site to GitHub Pages
on:
  workflow_call:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@b4ffde65f46336ab88eb53be808477a3936bae11

    - name: Setup Python
      uses: actions/setup-python@0a5c61591373683505ea898e09a3ea4f39ef2b9c
      with:
        python-version: '3.11'
        cache: 'pip'
        cache-dependency-path: '.github/workflows/requirements/docs.txt'

    - name: Setup GitHub Pages
      id: pages
      uses: actions/configure-pages@1f0c5cde4bc74cd7e1254d0cb4de8d49e9068c7d

    - name: Install Sphinx and Theme via Pip
      run: |
        pip install -r .github/workflows/requirements/docs.txt

    - name: Build with sphinx
      run: |
        sphinx-build docs/ _build

    - name: Upload artifact
      uses: actions/upload-pages-artifact@0252fc4ba7626f0298f0cf00902a25c6afc77fa8
      if: github.ref == 'refs/heads/develop'
      with:
        path: ./_build

  deploy:
    needs: build
    if: github.ref == 'refs/heads/develop'

    permissions:
      pages: write
      id-token: write

    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}

    runs-on: ubuntu-latest
    steps:
      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@7a9bd943aa5e5175aeb8502edcc6c1c02d398e10
