name: License Checks
on:
  workflow_call:

jobs:
  verify-license:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@d632683dd7b4114ad314bca15554477dd762a938

      - name: Set up Python 3.11
        uses: actions/setup-python@f677139bbe7f9c59b41e40162b753c062f5d49a3
        with:
          python-version: '3.11'
          cache: 'pip'

      - name: Verify license headers
        run: |
          python .github/workflows/bin/license verify
