name: Run Benchpark and Simple Benchmark Suite
on:
  workflow_call:

jobs:
  saxpy:
    runs-on: ubuntu-latest
    steps:
      - name: Remove gcc > 12 # to prevent Spack from picking a gcc without gfortan
        run: |
          sudo apt-get remove -y gcc-13

      - name: Checkout Benchpark
        uses: actions/checkout@9bb56186c3b09b4f86b1c65136769dd318469633

      - name: Build Saxpy Workspace
        run: |
          ./bin/benchpark setup saxpy/openmp nosite-x86_64 workspace/

      - name: Setup Ramble & Spack
        run: |
          . workspace/setup.sh

          spack mirror add ci-buildcache oci://ghcr.io/llnl/benchpark-binary-cache
          spack config add "packages:all:target:[nosite-x86_64_v3]"

          env | grep SPACK >> "$GITHUB_ENV"
          env | grep RAMBLE >> "$GITHUB_ENV"
          echo "PATH=$PATH" >> "$GITHUB_ENV"

      - name: Setup Saxpy Workspace
        working-directory: ./workspace/saxpy/openmp/nosite-x86_64/workspace/
        run: |
          ramble \
            --workspace-dir . \
            --disable-progress-bar \
            --disable-logger \
            -c config:spack_flags:install:'--no-check-signature' \
            workspace setup

      - name: Run Saxpy Experiments
        working-directory: ./workspace/saxpy/openmp/nosite-x86_64/workspace/
        run: |
          ramble \
            -c variables:n_nodes:1 \
            -c variables:n_ranks:1 \
            --workspace-dir . \
            --disable-progress-bar \
            --disable-logger \
            on

      - name: Analyze Saxpy Results
        working-directory: ./workspace/saxpy/openmp/nosite-x86_64/workspace/
        run: |
          ramble \
            --workspace-dir . \
            --disable-progress-bar \
            --disable-logger \
            workspace analyze

      - name: Archive Experiment Workspace
        working-directory: ./workspace/saxpy/openmp/nosite-x86_64/workspace/
        if: always()
        run: |
          ramble \
            --workspace-dir . \
            --disable-progress-bar \
            --disable-logger \
            workspace archive

      - name: Upload Workspace Archive as CI Artifact
        if: always()
        uses: actions/upload-artifact@5d5d22a31266ced268874388b861e4b58bb5c2f3
        with:
          name: workspace-archive
          path: './workspace/saxpy/openmp/nosite-x86_64/workspace/archive/**'

      - name: Upload Binaries to CI Cache
        if: github.ref == 'refs/heads/develop'
        run: |
          spack mirror set \
            --push \
            --oci-username ${{ github.actor }} \
            --oci-password "${{ secrets.GITHUB_TOKEN }}" \
            ci-buildcache

          spack buildcache push \
            -j $(($(nproc) + 1)) \
            --base-image ubuntu:22.04 \
            --unsigned \
            --update-index ci-buildcache \
            $(spack find --format '/{hash}')
